@model VersionPickerViewModel

@if (Model.IsVisible)
{
    <div class="dropdown">
        <a href="#versions">
            @Model.Current.DisplayName
        </a>
        <ul>
            @foreach (var version in Model.Versions)
            {
                <li>
                    <a href="@version.DefaultPageUri">@version.DisplayName</a>
                </li>
            }
        </ul>
    </div>
}