@model SampSharp.Documentation.Models.ErrorViewModel
@{
    ViewData["Title"] = "Server Error";
}

<h1>500: Internal Server Error</h1>
<p>
    An error occurred while processing your request. Please try again later.
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<img class="server-error" src="/images/doh.png" alt="Why'd you do that?!">
