@import 'vars';

* {
  box-sizing: border-box;
}

html {
  background-color: $secondary-background-color; // Visibly on "over scroll"
}

body {
  background-color: $primary-background-color;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; // Minimum of viewport height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: $max-container-width;
  width: 100%;
  box-sizing: border-box;
}

main {
  width: 100%;
}

nav {
  order: -1;
}

footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #f3f3f3;
  padding: 25px 5px 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  .copyright {
    margin-left: 25px;
    color: #555;
    font-size: 11px;
    font-style: italic;
  }
  .container {
    max-width: $max-container-width * 0.65;
    width: 100%;

    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .column {
        flex: 0 0 50%;
        padding: 10px;
        min-width: 250px;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            line-height: $primary-line-height * 1.2;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .body {
    padding: 0 3px 25px 3px;
  }
}

@media (min-width: $desktop-min-width) {
  .body {
    padding: 0 10px;
    flex-direction: row;
    flex: 1;
  }
  main {
    flex: 1;
  }
  nav {
    flex: 0 0 230px; /* container width */
  }
}