// Global
$sampsharp-color: #bf0014;

$primary-link-color: #b00009;
$secondary-link-color: #ccc;

$primary-link-color-hover: darken($primary-link-color, 10%);
$secondary-link-color-hover: darken($secondary-link-color, 10%);

$primary-text-color: black;
$secondary-text-color: black;

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;// Currently unused

$primary-border-color: #000;// Currently unused
$secondary-border-color: #dad9e3;

$primary-background-color: white;
$secondary-background-color: #f0f0f0;

$primary-font-size: 14px;
$primary-line-height: 17px;

$primary-font-size-mobile: 12px;
$primary-line-height-mobile: 15px;

// Page sizes
$mobile-max-width: 767px;
$desktop-min-width: 768px;
$max-container-width: 1170px;

// Typography
$font-size-h1: floor(($primary-font-size * 2.6));
$font-size-h2: floor(($primary-font-size * 2.15));
$font-size-h3: ceil(($primary-font-size * 1.7));
$font-size-h4: ceil(($primary-font-size * 1.25));
$font-size-h5: $primary-font-size;
$font-size-h6: ceil(($primary-font-size * 0.85));

$font-size-h1-mobile: floor(($primary-font-size-mobile * 2.5));
$font-size-h2-mobile: floor(($primary-font-size-mobile * 1.95));
$font-size-h3-mobile: ceil(($primary-font-size-mobile * 1.6));
$font-size-h4-mobile: ceil(($primary-font-size-mobile * 1.15));
$font-size-h5-mobile: $primary-font-size-mobile;
$font-size-h6-mobile: ceil(($primary-font-size-mobile * 0.90));

// Page index
$index-font-size: 15px;
$index-font-size-mobile: 13px;
$index-line-height: 24px;
$index-line-height-mobile: 20px;
$paragraph-text-color: #bf0006;// P symbol per paragraph

// Nav
$navbar-text-color: $secondary-text-color;
$navbar-border-color: $secondary-border-color;
$navbar-background-color: $secondary-background-color;
$navbar-link-color: #777;
$navbar-link-hover-color: black;
$navbar-link-font-size: 17px;

// Code
$code-background-color: $secondary-background-color;
$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

// FA
$fa-font-path: "~font-awesome/fonts";